.navbar {
  width: 100%; }

nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0; }
  @media (min-width: 48em) {
    nav {
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between; } }
  nav .logo-container {
    width: 100%; }
    @media (min-width: 48em) {
      nav .logo-container {
        width: auto; } }
  nav .logo {
    height: 60px;
    width: 200px;
    margin: 0 auto;
    background-image: url("../images/logo.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    color: #fff;
    font-size: 28px;
    line-height: 60px;
    text-shadow: none;
    position: relative; }
    @media (min-width: 48em) {
      nav .logo {
        display: inline-block;
        margin: 6px 0 0 15px; } }

nav li {
  list-style: none !important;
  color: #FFF;
  padding: 10px;
  font-size: 12px;
  letter-spacing: 1px;
  font-family: 'proxima-nova';
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none; }

.caret {
  margin-top: 4px;
  margin-left: 4px;
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid white;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: ""; }

nav li > a:only-child:after {
  content: ''; }

nav li {
  list-style: none !important;
  color: #FFF;
  padding: 10px;
  text-decoration: none; }

nav ul {
  padding: 0;
  margin-top: 20px;
  display: none; }
  @media (min-width: 48em) {
    nav ul {
      display: block; } }

nav ul li {
  list-style: none;
  float: left; }

nav ul li a {
  color: #fff;
  padding: 10px;
  text-decoration: none; }

nav ul li ul {
  display: none; }

nav ul li:hover ul {
  position: absolute;
  z-index: 1000;
  margin-top: 10px;
  margin-left: 8px;
  list-style: none;
  display: list-item !important;
  border-radius: 2px;
  background-color: white;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25); }
  nav ul li:hover ul:before {
    display: block;
    position: absolute;
    top: -5px;
    left: 12px;
    width: 10px;
    height: 10px;
    background-color: white;
    content: '';
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }

nav ul li ul li a {
  text-transform: none;
  letter-spacing: 0;
  color: #3e4552;
  font-family: 'Microsoft YaHei','Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 500; }

nav ul li:hover ul li {
  padding-left: 0px;
  float: none; }